vim/symlink.vimrc     linguist-language=vim
vim/colors/**         linguist-vendored
tmux/symlin.tmux.conf linguist-language=Shell
*.bashrc              linguist-language=Shell
*.bash_profile        linguist-language=Shell
