vim/colors/**         linguist-vendored
vim/symlink.vimrc     linguist-vendored=false linguist-language=vim
tmux/symlin.tmux.conf linguist-language=Shell
*.bashrc              linguist-language=Shell
*.bash_profile        linguist-language=Shell
